.badge img{
    width: 200px;
    height:200px;
}

.image-position img{
  
    width: 100%;
    height:200px;
    position: relative;
    border: 1px solid blue;
}

.team-details{
   
    border-radius:5px;
 
}
.icon{
    margin: left 100px;


}

.icon a img{

    width:60px;
    margin:50;



}

